@import './_variables.css';
.c-red {
    color: var(--red);
}
.c-green {
    color: var(--green);
}
.c-blue {
    color: var(--blue);
}
.c-orange {
    color: var(--orange);
}
.c-black {
    color: var(--black);
}
.c-white {
    color: var(--white);
}
.c-red {
    color: var(--red);
}

.bg-red {
    background-color: var(--red);
}
.bg-red {
    background-color: var(--red);
}

.bg-green {
    background-color: var(--green);
}
.bg-green-50 {
    background-color: var(--green-50);
}

.bg-blue {
    background-color: var(--blue);
}
.bg-blue-50 {
    background-color: var(--blue-50);
}

.bg-orange {
    background-color: var(--orange);
}
.bg-orange-50 {
    background-color: var(--orange-50);
}

.bg-black {
    background-color: var(--black);
}
.bg-black-50 {
    background-color: var(--black-50);
}

.bg-white {
    background-color: var(--white);
}
.bg-white-50 {
    background-color: var(--white-50);
}

.bg-grey {
    background-color: var(--grey);
}
.bg-grey-50 {
    background-color: var(--grey-50);
}

.bg-silver {
    background-color: var(--silver);
}
.bg-silver-50 {
    background-color: var(--silver-50);
}
/* layout */

.layout {
    margin: 2rem auto;
    width: max-content;
    min-width: 400px;
    max-width: 66%;
    padding: 1rem;
}

header {
    border-bottom: 2px solid var(--black);
}

footer {
    border-top: 2px solid var(--black);
    font-size: .8rem;
}