
.game {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(var(--game-cols), 1fr);
    grid-template-rows: repeat(var(--game-rows), 1fr);
    background-color: var(--white);
    outline: 3px solid var(--blue);
}

.game > * {
    aspect-ratio: 1;
    border: 1px solid var(--black);
    background-color: var(--silver-50);
    min-width: 12px;
    transition: background-color var(--cell-transition-ms) linear;
}

.game > .live {
    background-color: var(--green);
}