@import './reset.css';
@import './material-symbols.css';
@import './variables.css';

html,
body,
#app {
  width: 100%;
  height: 100%;
}

a, a:hover, a:link, a:visited, a:active {
  text-decoration: underline;
  color: var(--color-warning);
}

a:hover {
  text-decoration-style: wavy;
}


.btn{
  display:inline-flex;
  align-items: center;
}